.mat-form-field {
    width: 100%;
}

.error {
    margin-left: 12px;
    color: red;
}

:host ::ng-deep .mat-form-field-wrapper {
    margin: 0 !important;
    padding: 10px;
}

/* .mat-dialog-container{
    padding: 0;
    margin: 0;
  } */